@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
	--header-height: 100px;
	--header-bottom-radius: 100px;

	--primary-1: rgb(255, 165, 0);
	--primary-2: purple;
	--primary-3: grey;

	--secondary-1: rgb(50, 50, 50);
	--secondary-2: rgb(10, 10, 10);
	--secondary-3: rgb(230, 230, 230);

	--helper-1: #EDDFEF;
	--helper-2: #947BD3;
	--helper-3: rgb(120, 120, 120);
}

::-webkit-scrollbar {
    display: none;
}

.element::-webkit-scrollbar { width: 0 !important }

html{
	scroll-behavior: smooth;
}


body{
	background: white;
	color: var(--helper-3);
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

input, textarea{
	font-family: roboto;
	color: var(--primary-2);
	outline: none;

	margin: 10px 0;

	border: 0;
	border-radius: 5px;
}

span#home-link{
	cursor: pointer;
	font-size: 35px;
}

#body{
	width: 70%;
	margin: 0 15%;
	margin-bottom: 50px;
}

.menu-toggler{
	display: inline-flex;
	cursor: pointer;
}
.menu-toggler > .menu-content{
	display: none;
}
.menu-toggler:hover > .menu-content{
	display: block;
}

.menu-content{
	border: 2px solid black;
	background: white;
	position: absolute;
	max-width: 300px;
}

@media screen and (max-width: 800px){
	#body{
		width: 90%;
		margin: 0 5%;
	}
}