.section{
	display: block;
	padding-top: calc(var(--header-height));

	width: calc( 100% - 20px );
	min-height: 500px;

	width: 100%;
	justify-content: center;

	font-size: 22px;
}

.inner-section{
	width: 100%;
	height: inherit;
	display: inline-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: dubai;
}

.inner-section > div{
	margin: 20px 50px;
	flex: 1 1 300px;
}

.inner-section > div > h2{
	font-weight: 300;
	background: var(--primary-2);
	color: white;
	text-align: center;
	border-radius: 2px;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1),
				-10px 0px 20px rgba(0, 0, 0, 0.1),
				0px 10px 20px rgba(0, 0, 0, 0.1),
				0px -10px 20px rgba(0, 0, 0, 0.1);
}

/*#glimpse > .inner-section{*/
.section:nth-child(odd) > .inner-section{
	background: rgba(255, 165, 0, 0.6);
	color: var(--secondary-1);

	padding: 50px 0;

	border-radius: 2px;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1),
				-10px 0px 20px rgba(0, 0, 0, 0.1),
				0px 10px 20px rgba(0, 0, 0, 0.1),
				0px -10px 20px rgba(0, 0, 0, 0.1);
}

#glimpse > .inner-section > div{
	margin: 20px 20px;
	flex: 1 1 300px;
}


.work-card{
	font-family: Montserrat;

	cursor: pointer;

	padding-top: 20px;
	padding-left: 20px;

	/*color: */
	border: 1px solid purple;

	min-height: 200px;
	border-radius: 3px;

	transition: 0.2s;
}

.work-card:hover{
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.2),
				-10px 0px 20px rgba(0, 0, 0, 0.2),
				0px 10px 20px rgba(0, 0, 0, 0.2),
				0px -10px 20px rgba(0, 0, 0,0.2);
	transition: 0.5s;
}

#what{
	font-family: dubai;
}

#vision form{
	background: var(--primary-1);
	color: var(--primary-2);
	padding: 50px;
	border-radius: 10px;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1),
				-10px 0px 20px rgba(0, 0, 0, 0.1),
				0px 10px 20px rgba(0, 0, 0, 0.1),
				0px -10px 20px rgba(0, 0, 0, 0.1);
}

#vision form input{
	padding: 15px;
	width: 90%;
}