#work-display{
	margin-top: 100px;
	background: rgba(255, 165, 0, 0.6);
	color: var(--secondary-1);
	/*color: var(--helper-3);*/

	font-size: 22px;

	padding: 50px 10px;

	border-radius: 2px;
	box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1),
				-10px 0px 20px rgba(0, 0, 0, 0.1),
				0px 10px 20px rgba(0, 0, 0, 0.1),
				0px -10px 20px rgba(0, 0, 0, 0.1);
}