{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/common/left_navigation_bar.css' %}">
	<div id="left_navigation_bar">
		<div class="menu-togglerr">
			<div id="left_navigation_bar_content" class="menu-contentt">
				<ul>
					<!-- <li id="what">Home</li>
					<li id="glimpse">A small glimpse</li>
					<li id="vision">Vision</li>
					<li id="how">How does even it work?</li>
					<li id="join">Join Perspectivo</li>
					<li id="about">About</li> -->

					<li>Home</li>
					<li>Glimpse</li>
					<li>How</li>
					<li>Join</li>
					<li>About</li>

				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{% static 'js/common/left_navigation_bar.js' %}"></script>