{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/common/top_banner.css' %}">
	<div id="top-banner">
		<div id="top-banner-img-box"></div>
		<div id="top-banner-img"></div>
		<div id="top-banner-heading">PERSPECTIVO</div>

		<div id="top-banner-content">
			till death we do art
			<br>
			none else, this is our part
			<br>
			to see and make them who don't 
			<br>
			or beyond the surface who won't
			<br><br><br>
			<i style="font-weight: 300;">Share your perspective</i>
			<br>
			By sharing your art
			<br><br>
			<div id="top-banner-content-button" onclick="Redirect('#glimpse')">
				Explore
			</div>
		</div>
	</div>